/*  */
.Imagecontainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.Imagecontainer img {
  width: 100%;
  height: auto;
}

.Imagecontainer .btn {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.Imagecontainer .btn:hover {
  background-color: black;
}

.category-link a {
  text-decoration: none !important;
  color: black;
  font-size: x-large;
  line-height: normal;
}
